<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include header.html %}

<div class="content-wrapper">
    <div class="content-wrapper__inner">
        <article class="post-container post-container--single">
            <header class="post-header">
                <h1 class="post-title">About Me</h1>
            </header>
            <p align="justify"> My name is Jhonatas Rodrigues. I'm graduated in Computer Science. Now, I am looking for
                my first full-time job. I have been working as a freelance web and mobile developer for the last five
                years and cooperated with several startups even big open-source companies like Mozilla (Firefox for iOS
                and Firefox Lockwise). I cannot say with a hundred percent confidence where I see myself in five years
                or what my big career goal is. The world is changing rapidly, and I don’t have enough professional
                experience to be certain about such things. However, I know that I can provide a fresh take and an
                extraordinary approach to every project. I am always open to challenges and constructive feedback. I am
                open-minded and learn new things quickly. I want to become a team player and dedicate all my skills and
                talents to develop high-quality and unique products.
            </p><br>

            <p align="justify">I have a great experience as a Community Team Leader at Mozilla Brazil. At least 6 years as
                a core contributor doing great things to help the Mozilla Community grow up around the world by
                developing tools that help improve the contributions. Also working as a translator, editor, reviewer of
                articles and support directly in the social networks of Firefox accounts too.
            </p>
        </article>
    </div>
    <footer class="footer">
        <span class="footer__copyright">&copy; 2019 . All rights reserved.</span>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js?1573193073549389000"></script>
</div>
</div>
</body>
</html>