<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include header.html %}

<div class="content-wrapper">
    <div class="content-wrapper__inner">
        <article class="post-container post-container--single">
            <header class="post-header">
                <h1 class="post-title">About Me</h1>
            </header>
            <p align="justify"> Hi there! </p>
            <p align="justify">    
                My name is Jhonatas Rodrigues. I hold a Bachelor's degree in Computer Science. I am currently working 
                full-time as a Front-End Developer at Compasso, where I'm very proud to be part of a fantastic company. Before starting to work at Compasso, 
                I was a freelance developer on web and mobile technologies, developing extensions for the Firefox browser. I also had the opportunity to interact 
                with several startups and large open-source corporations on products such as Firefox for iOS and Firefox Lockwise. 
            </p>
            <p align="justify">
                For the next years, I want to be a great and essential team player at Compasso, always looking for the growth of the company and me as well. In the future, 
                I want to have the opportunity to lead an innovative team while seeking an extraordinary approach to every single project. As a part of an excellent team, I am always open to challenges and constructive feedback from my teammates.
            </p><br>

            <p align="justify">I am a Core Contributor at Mozilla since 2014 and also a Community Team Leader at Mozilla Brasil. I continue to strengthen the community by developing tools to improve volunteer and staff 
                contributions like <a href="https://github.com/mozillabrasil/sumo_live_helper">SUMO Live Helper</a>. Moreover, 
                I am a translator, editor, also a reviewer of the knowledge base articles, responsible for the <a href="https://mozillabr.org/">Mozilla Brazil Website</a>, and I provide social media support through 
                official Firefox channels (Twitter and Google Play).
            </p><br>

            <p>Thank you for taking the time to get to know me better.
            </p><p align="justify">- JRM</p>
        </article>
    </div>
    <footer class="footer">
        <span class="footer__copyright">&copy; 2020 . All rights reserved.</span>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js?1573193073549389000"></script>
</div>
</div>
</body>
</html>